@model SalesWebMVC.Models.GitHubUser

@{
    ViewData["Title"] = "About";
}
<h1>About this project</h1>

<div class="container-fluid w-50 p-3 mt-3 mb-3 bg-light rounded" style="min-width: 350px;">
    <img class="img-thumbnail mb-3 rounded-circle"
         src="@Model.AvatarUrl"
         alt="Github Avatar"
         style="width: 120px;" />

    <h4>@Model.Name - @Model.Login</h4>
    <p class="text-body-secondary">@Model.Bio</p>

    <a class="btn btn-outline-primary rounded" href="@Model.HtmlUrl">My GitHub</a>
</div>

<h3>Speaking a bit about the project</h3>
<p class="text-body-primary text-black fs-4">
    This project is based on another project with the same name (<a class="link-info" href="https://github.com/acenelio/workshop-asp-net-core-mvc">SalesWebMvc</a>) by Professor <a class="link-info" href="https://github.com/acenelio">Nélio Alves</a>,
    which was done in the <a class="link-info" href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp">C# course</a> on <i>Udemy.</i>
</p>
<p class="text-body-primary text-black fs-4">
    My first challenge with this project was deciding between using .NET 2.1 (which is the course version) or attempting to update this project to .NET Core 8.0.
    And that's exactly what I did: I challenged myself to update the project, which took more time, since a lot has changed in the 6 years since .NET Core 2.
</p>
<p class="text-body-primary text-black fs-4">
    So, to see all the changes that have been implemented and what has changed in <a class="link-info" href="https://learn.microsoft.com/en-us/aspnet/overview">ASP.NET</a> and <a class="link-info" href="https://learn.microsoft.com/en-us/dotnet">.NET</a> during this period,
    just check my GitHub (and don't forget to check the original project):
</p>
<p class="text-body-secondary text-black">
    <i>Feel free to contribute or comment on anything :D</i>
</p>
<a class="btn btn-outline-info rounded" href="https://github.com/csdev-aOSE/SalesWebMVC/blob/main/README.md">FOR MORE</a>
