@model IEnumerable<SalesWebMVC.Models.Seller>

@{
    ViewData["Title"] = "Sellers";
}

<h1>@ViewData["Title"]</h1>
<h3>Seller's list</h3>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Crate New</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseSalary)
                </td>
                <td>
                    <a class="text-info link-underline-opacity-25 link-opacity-75-hover link-underline-opacity-100-hover" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a class="text-info link-underline-opacity-25 link-opacity-75-hover link-underline-opacity-100-hover" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a class="text-info link-underline-opacity-25 link-opacity-75-hover link-underline-opacity-100-hover" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
